flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Routes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c049fab0.927ee8",
        "type": "tab",
        "label": "Hello Controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4ea226.850fee",
        "type": "tab",
        "label": "Test Controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87514c9.1c703b",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Testes",
        "style": {
            "stroke": "#0070c0",
            "fill": "#ffffff",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "15153bd4.d41454",
            "3cfed194.70871e",
            "44daa3dd.44a61c",
            "d60764c0.cd50e8"
        ],
        "x": 74,
        "y": 79,
        "w": 282,
        "h": 142
    },
    {
        "id": "8416bfcc.ec4f",
        "type": "websocket-listener",
        "path": "/ws/example",
        "wholemsg": "false"
    },
    {
        "id": "15153bd4.d41454",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "g": "87514c9.1c703b",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "d60764c0.cd50e8"
            ]
        ]
    },
    {
        "id": "3cfed194.70871e",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "g": "87514c9.1c703b",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "44daa3dd.44a61c"
            ]
        ]
    },
    {
        "id": "44daa3dd.44a61c",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "g": "87514c9.1c703b",
        "name": "",
        "links": [
            "a11c591a.6bf7e8"
        ],
        "x": 315,
        "y": 180,
        "wires": []
    },
    {
        "id": "d60764c0.cd50e8",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "g": "87514c9.1c703b",
        "name": "",
        "links": [
            "3bf2762f.5e64ea"
        ],
        "x": 315,
        "y": 120,
        "wires": []
    },
    {
        "id": "3bf2762f.5e64ea",
        "type": "link in",
        "z": "c049fab0.927ee8",
        "name": "Hello Controller",
        "links": [
            "d60764c0.cd50e8"
        ],
        "x": 105,
        "y": 100,
        "wires": [
            [
                "812acb3c.a6c358"
            ]
        ]
    },
    {
        "id": "a11c591a.6bf7e8",
        "type": "link in",
        "z": "b4ea226.850fee",
        "name": "Test Controller",
        "links": [
            "44daa3dd.44a61c"
        ],
        "x": 195,
        "y": 80,
        "wires": [
            [
                "2ac5ae68.c8cbe2"
            ]
        ]
    },
    {
        "id": "8d95a1bb.007a8",
        "type": "http response",
        "z": "c049fab0.927ee8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "812acb3c.a6c358",
        "type": "change",
        "z": "c049fab0.927ee8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"hello\": \"world\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "8d95a1bb.007a8"
            ]
        ]
    },
    {
        "id": "a3522fd2.83973",
        "type": "http response",
        "z": "b4ea226.850fee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 467,
        "y": 172,
        "wires": []
    },
    {
        "id": "2ac5ae68.c8cbe2",
        "type": "change",
        "z": "b4ea226.850fee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"test\": \"ok\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 307,
        "y": 172,
        "wires": [
            [
                "a3522fd2.83973"
            ]
        ]
    }
]